<div class="dots lozad lazyload" data-toggle-class="loaded">
    <div class="content">
        <p>Changing culture<br />through design</p>
    </div>
    <div class="text work">
        <a id="work-link">Work</a>
    </div>
    <div class="text contact">
        <a href="/contact.html">Contact</a>
    </div>
    <div class="text services">
        <a href="/about.html">About</a>
    </div>
    <div class="text news">
        <a href="/news.html">News</a>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-1.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-2.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-3.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-4.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-5.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-6.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-7.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-8.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-9.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-10.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-11.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-12.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-13.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-14.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-15.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-16.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-17.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-18.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-19.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-20.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-21.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-22.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-23.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-24.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-25.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-26.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-27.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-28.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-29.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-30.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-31.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-32.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-33.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-34.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-35.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-36.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-37.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-38.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-39.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-40.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-41.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-42.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-43.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-44.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-45.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-46.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-47.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-48.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-49.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-50.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-51.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-52.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-53.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-54.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-55.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-56.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-57.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-58.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-59.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-60.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-61.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-62.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-63.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-64.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-65.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-66.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-67.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-68.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-69.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-70.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-71.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-72.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-73.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-74.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-75.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-76.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-77.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-78.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-79.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-80.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-81.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-82.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-83.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-84.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-85.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-86.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-87.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-88.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-89.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-90.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-91.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-92.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-93.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-94.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-95.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-96.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-97.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-98.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-99.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-100.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-101.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-102.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-103.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-104.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-105.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-106.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-107.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-108.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-109.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-110.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-111.jpg');"></div>
        </div>
    </div>
    <div class="dot">
        <div class="dot-inner">
            <div style="background-image: url('images/dots-new/frame-112.jpg');"></div>
        </div>
    </div>
</div>
