title Butter Studio

meta(charset='utf-8')
meta(name='description', content='Changing culture through design. A brand and digital design studio led by Cari Sekendur.')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='p:domain_verify', content='da4842bf4ceaa262924650626fad6852')

meta(property="og:title", content="Butter Studio")
meta(property="og:site_name", content="Butter Studio")
meta(property="og:url", content="https://butterstudio.co/")
meta(property="og:description", content="Changing culture through design. A brand and digital design studio led by Cari Sekendur.")
meta(property="og:type", content="website")
meta(property="og:image", content="https://butterstudio.co/images/butter-meta.jpg")

link(rel="stylesheet", href="/stylesheets/reset.css")
link(rel="stylesheet", href="/stylesheets/styles.css?v=18")
link(rel="icon", type="image/png", href="/images/favicon.png")

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

script(src="/javascript/lozad.min.js")