doctype html

head
  include header.pug
  
  // Required for Previews and Experiments
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")

body
  include body-scripts.html
  div(class="page")
    div(class="wrapper")
      div(class="title lozad lazyload" data-toggle-class="loaded")
        a(href="/")
          include header-svg.html
      div(class="dots-container lozad lazyload" data-toggle-class="loaded")
        block body
      include footer.html
  include scripts.html
